<div class="table-responsive">
    <table class="table table-hover" style="cursor:pointer">
        <thead class="thead-dark">
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="orders?.length === 0; else orderItems">
                <td colspan="4" class="text-center">
                    <p>You do not have any order yet.</p>
                    <p>Have a look on our <a routerLink="/shop">shop</a></p>
                </td>
            </tr>
            
            <ng-template #orderItems>
                <tr *ngFor="let order of orders">
                    <td>#{{ order.id }}</td>
                    <td class="text-success">{{ order.orderDate | date: 'medium' }}</td>
                    <td>{{ order.total | rupee }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>