<nav id="skinetMainNavbar" class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container-fluid">
      <a routerLink="/"><img  src="/assets/images/logo.png" class="skinet-logo" alt="logo"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">   
        <ul class="skinet-navbar-navmenu navbar-nav mx-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}"
            >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="shop"  routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/test-error" routerLinkActive="active">Errors</a>
          </li>
        </ul>     
        
        <div id="skinetShopperNavControlBox" class="d-flex align-items-center gap-5">
            <a class="position-relative" routerLink="basket" routerLinkActive="basket-active">
                <i class="fa fa-shopping-cart mr-5 text-dark"></i>
                <div class="cart-no" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
            </a>
            <div class="d-flex align-items-center gap-2">
                <a routerLink="/account/signin" class="btn btn-outline-primary mr-2">Login</a>
                <a routerLink="/account/signup" class="btn btn-outline-primary mr-3">Sign up</a>
            </div>
        </div>
      </div>
    </div>
  </nav>