<div class="container">
    <div class="container mt-5 text-center" *ngIf="(basket$ | async) === null">
        <p style="font-size: 1.5em;">There is no item in your basket!</p>
    </div>
    
    <div *ngIf="(basket$ | async ) as basket">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 py-5 mb-1">
                        <skinet-basket-summary
                            (increament)="onIncrementItemQuantity($event)"
                            (decreament)="onDecreamentItemQuantity($event)"
                            (remove)="onRemoveBasketItem($event)"
                        ></skinet-basket-summary>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 offset-md-6 text-center">
                        <skinet-order-summery></skinet-order-summery>
                        <a routerLink="/checkout" class="btn btn-outline-primary btn-block" style="width: 100%;">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 