<div class="container">
    <div class="row">
        <section class="col-3 mt-3">
            <ng-container *ngIf="types && brands">
                <h5 class="text-warning ml-3">Sort</h5>
                <select class="form-control mb-4 mt-4" (change)="onSortSelect($event.target.value)">
                    <option 
                        *ngFor="let item of sortOptions"
                        [value]="item.value"
                    >{{item.name}}</option>
                </select>

                <h5 class="text-warning ml-3">Brands</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" 
                        *ngFor="let brand of brands"
                        [class.active]="brand.id === this.shopParams.brandId"
                        [value]="brand.id"
                        (click)="onBrandSelect(brand.id)"
                    >
                        {{brand.name}}
                    </li>
                </ul>
                <h5 class="text-warning ml-3">Types</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" 
                        *ngFor="let type of types"
                        [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id"
                        (click)="onTypeSelect(type.id)"
                    >
                        {{type.name}}
                    </li>
                </ul>
            </ng-container>
        </section>


        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <skinet-paging-header 
                    [pageNumber]="shopParams.pageNumber"
                    [pageSize]="shopParams.pageSize"
                    [totalCount]="totalProductCount"
                ></skinet-paging-header>

                <ng-container *ngIf="products">
                    <div class="row g-2">
                        <div class="col-auto">
                            <input type="text" #search class="form-control mr-2" placeholder="Search"/>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary" (click)="onSearch()">Search</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-success" (click)="onReset()">Reset</button> 
                        </div>
                    </div>
                </ng-container>
            </div>
            
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let item of products">
                  <skinet-product-item [product]="item"></skinet-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="products && totalProductCount !== 0">
                <skinet-paginator
                    [totalCount]="totalProductCount"
                    [pageSize]="shopParams.pageSize"
                    (pageChanged)="onPageChange($event)"
                ></skinet-paginator>
            </div>
        </section>
    </div>
</div>