<carousel [isAnimated]="true" >
    <slide>
        <img 
            src="assets/images/shopping-store.jpg"
            alt="first slide"
            style="display: block; width: 100%;"
        >
    </slide>
    <slide>
        <img 
            src="assets/images/shopping-bag.jpg"
            alt="second slide"
            style="display: block; width: 100%;"
        >
    </slide>
    <slide>
        <img 
            src="assets/images/shopping-product.jpg"
            alt="second slide"
            style="display: block; width: 100%;"
        >
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the <strong>Skinet Shop</strong></h1>
    </div>
</section>